.contact-section {
    background-color: #ffffff;
  }
  
  .contact-info {
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .contact-info:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .contact-info h5 {
    font-size: 1.2rem; 
    transition: color 0.3s ease;
  }
  
  .contact-info i {
    color: #ffffff;
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  
  form .btn-primary {
    background-color: #f73535;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  form .btn-primary:hover {
    background-color: #333333;
    transform: scale(1.05);
  }
  
  form .form-control {
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
  }
  
  form .form-control:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  